<div class="container">
  <footer class="py-3 my-4">
    

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>
   

    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://web.facebook.com/?_rdc=1&_rdr" class="nav-link px-2 text-body-secondary">facebook</a></li>
      <li class="nav-item"><a href="https://www.google.com" class="nav-link px-2 text-body-secondary">google</a></li>
      <li class="nav-item"><a href="https://pk.linkedin.com" class="nav-link px-2 text-body-secondary">linkedin</a></li>
      <li class="nav-item"><a href="https://getbootstrap.com" class="nav-link px-2 text-body-secondary">Bootstrap</a></li>
      <li class="nav-item"><a href="https://www.apple.com/uk/" class="nav-link px-2 text-body-secondary">Apple store </a></li>
    </ul>
     <p class="text-muted text-center">&copy; 2023 Nasir, Inc</p>
  </footer>
</div>