<!DOCTYPE html>
<html>
  <head>

    
    <title>Portofolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      #banner{
        height:250px;
        width:100%;
      }


      
    </style>

    
  </head>
  <body>
    {% include "nav.html"%}
    <div class = "container">
    <h1 class="text-center mt-2 mb-4">{{company_name}} portfolio</h1>
    <img class='img-fluid' id='banner' src= "https://portfolio.miannasir1.repl.co/static/banner.jpg" >
    <h2 class="text-center" mt-2 mb-4>About My Portfolio</h2>
      <div class = 'row'>
      <div class = 'col-md-6'>
    <p class ="lead">
      As an AI language model, I don't have access to your personal information or portfolio. However, I can provide you with a general outline and suggestions for creating a portfolio as a web developer using Flask and Python.

A portfolio showcases your skills, projects, and experience as a web developer. It allows potential employers or clients to see your work and assess your abilities. Here's a suggested structure for your portfolio:
      It allows potential employers or clients to see your work and assess your abilities. Here's a suggested structure for your portfolio:

</p>
     </div>
      <div class = 'd-none d-md-block col-md-6'>
        <img src ='/static/pepole.jpeg' style= "height:300px">
      </div>
      </div>
    <h2 class="text-center mt-2 mb-4">Open Positions</h2>
    <p>
      {% for job in jobs %}

     {% include 'jobitems.html' %}


      {% endfor %}
    </p>
      <div class = "text-center">
    <a href="mailto:hello@nasir.ai?subject=How%20may%20I%20help%20you&body=My%20name%3A%20%3CYour%20name%20here%3E%0D%0A%0D%0AMy%20Question%3A%20%3Cyour%20question%20here%3E" class="btn btn-primary btn-lg">Contact us</a>
        
      </div>
     
  </div>
    {% include 'footer.html' %}
  </body>
</html>